div.css-k7vsyb.e16nr0p31 ,h2{
    background-color: #FADA9D;
    padding: 5% 5% 5% 10%;
    color: #000000;
    border-radius: 5px;
}
div.css-k7vsyb.e16nr0p31{
   
    background-color: #B5D5C5;
    text-align: center;
    border: 2px solid #000000;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}
